{% extends 'AppBundle::base_back.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('bundles/app/backend/vendor/datatables_plugins/integration/bootstrap/3/dataTables.bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/backend/styles/static_custom.css') }}">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/backend/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/app/backend/vendor/datatables_plugins/integration/bootstrap/3/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $('#gridTable').dataTable({
                aaSorting: [[3, "desc"]]
            });
        });
    </script>
{% endblock javascripts %}

{% block header %}
    {% include 'AppBundle:backend/design:header_bar.html.twig' %}
{% endblock header %}

{% block body %}
    <div id="wrapper">

    <!-- Breadcrumb -->
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="#">
                    <div class="clip-header">
                        <i class="fa fa-arrow-down"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="{{ path('_admin_index') }}">Inicio</a></li>
                        <li>
                            <span>Notificaciones</span>
                        </li>
                        <li class="active">
                            <span>Listar</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    panel de control
                </h2>
                <small>Herramienta administrativa que permite mantener actualizada la información</small>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Table -->
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading font-uppercase">
                        {#<div class="panel-tools">#}
                            {#<a class="showhide"><i class="fa fa-chevron-up"></i></a>#}
                        {#</div>#}
                        Listado de notificaciones
                    </div>
                    <div class="panel-body">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="">
                                    <h3 class="text-uppercase">
                                        notificaciones
                                    </h3>
                                </div>

                                <hr class="left-separator">
                                {% for Message in app.session.flashbag.get('deleteError') %}
                                    <div class="alert alert-danger">
                                        <i class="fa fa-frown-o"></i>
                                        {{ Message | raw }}
                                    </div>
                                    <br/>
                                {% endfor %}
                                {% for Message in app.session.flashbag.get('delete') %}
                                    <div class="alert alert-success fsize20">
                                        <i class="fa fa-smile-o"></i>
                                        {{ Message | raw }}
                                    </div>
                                    <br/>
                                {% endfor %}
                                <table id="gridTable" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr class="text-uppercase">
                                        <th class="col-sm-1 text-center">Estado</th>
                                        <th class="col-sm-2">Tipo</th>
                                        <th class="col-sm-6">Asunto</th>
                                        <th class="col-sm-2">Fecha</th>
                                        <th class="col-sm-1 text-center">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in notices %}
                                        <tr>
                                            {% if not item.isRead %}
                                                <td class="text-center"><strong><i class="pe-7s-mail"
                                                               style="font-size: 20px; font-weight: bold"></i></strong>
                                                </td>
                                                <td><strong>{{ item.type.name | truncate(20, true) }}</strong></td>
                                                <td><strong>{{ item.subject | truncate(30) }}</strong></td>
                                                <td><strong>{{ item.date | date('d/m/Y g:i A') }}</strong></td>
                                            {% else %}
                                                <td class="text-center"><strong><i class="pe-7s-mail-open"
                                                               style="font-size: 20px"></i></strong>
                                                </td>
                                                <td>{{ item.type.name | truncate(20, true) }}</td>
                                                <td>{{ item.subject | truncate(30) }}</td>
                                                <td>{{ item.date | date('d/m/Y g:i A') }}</td>
                                            {% endif %}
                                            <td>
                                                <div class="tooltip-demo text-center">
                                                    <a class="btn btn-success btn-sm"
                                                       href="{{ url('_admin_notice_show',{'id':item.id}) }}">
                                                        <i class="fa fa-eye"></i>
                                                    </a>

                                                    <a type="button" class="btn btn-danger2 btn-sm" data-toggle="modal"
                                                       data-target="#modalDelete{{ item.id }}">
                                                        <i class="fa fa-trash"></i>
                                                    </a>

                                                    <div class="modal fade hmodal-danger" id="modalDelete{{ item.id }}"
                                                         tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="color-line"></div>
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title">¿Está seguro?</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>
                                                                        Si elimina esta notificación <strong>no podrá
                                                                            recuperarla!</strong>
                                                                    </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">No, Cancelar
                                                                    </button>
                                                                    <a class="btn btn-danger2"
                                                                       href="{{ url('_admin_notice_delete',{'id':item.id}) }}">Si,
                                                                        Eliminar</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Table -->

        <!-- Footer -->
        {% include 'AppBundle:backend/design:footer_bar.html.twig' %}
        <!-- /Footer -->

    </div>

{% endblock body %}