<li data-transition="3dcurtain-vertical" data-slotamount="14" data-masterspeed="300" data-delay="10000">

    <!-- COVER IMAGE -->
    <img src="{{ asset(business.imgPublicity.path) }}" alt=""
         data-bgfit="cover"
         data-bgposition="left top" data-bgrepeat="no-repeat">

    <!-- LAYER NR. 1
    <div class="tp-caption lightgrey_divider skewfromrightshort customout"
         data-x="85"
         data-y="224"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1200"
         data-easing="Power4.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="off"
         style="z-index: 2">
    </div>
    -->
    {#<!-- LAYER NR. 2 -->#}
    {#<div class="tp-caption customin customout"#}
         {#data-x="right" data-hoffset="-220"#}
         {#data-y="bottom" data-voffset="0"#}
         {#data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"#}
         {#data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"#}
         {#data-speed="800"#}
         {#data-start="700"#}
         {#data-easing="Power4.easeIn"#}
         {#data-endspeed="500"#}
         {#data-endeasing="Power4.easeIn"#}
         {#style="z-index: 3"><img src="{{ asset('bundles/app/assets/images/revolution_slider/layout02.png') }}"#}
                                 {#alt="">#}
    {#</div>#}

    <!-- LAYER NR. 2
  <div class="tp-caption customin customout"
       data-x="right" data-hoffset="-100"
       data-y="bottom" data-voffset="0"
       data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
       data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
       data-speed="1500"
       data-start="700"
       data-easing="Elastic.easeInOut"
       data-endspeed="500"
       data-endeasing="Power1.easeIn"
       style="z-index: 3"><img src="{{ asset('bundles/app/assets/images/revolution_slider/slider_run.png') }}" alt="">
  </div>
  -->

    <!-- LAYER NR. 3 -->
    <div class="tp-caption largepinkbg skewfromrightshort customout"
         data-x="0"
         data-y="60"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="800"
         data-easing="Back.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="off"
         style="z-index: 4">{{ business.name }}
    </div>

    <!-- LAYER NR. 4
    <div class="tp-caption large_bold_grey skewfromleftshort customout"
         data-x="80"
         data-y="122"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="300"
         data-start="1100"
         data-easing="Back.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="off"
         style="z-index: 7">Multipurpose
    </div>
    -->
    <div class="tp-caption sft skewfromrightshort modern_big_redbg customout"
         data-x="0"
         data-y="140"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="300"
         data-start="1000"
         data-easing="easeOutExpo"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="off"
         style="z-index: 5">{{ business.slogan }}
    </div>

    <!-- LAYER NR. 5 -->
    {#<div class="tp-caption medium_text customin customout"#}
         {#data-x="80"#}
         {#data-y="200"#}
         {#data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"#}
         {#data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"#}
         {#data-speed="500"#}
         {#data-start="1300"#}
         {#data-easing="Power4.easeOut"#}
         {#data-endspeed="500"#}
         {#data-endeasing="Power4.easeIn"#}
         {#data-captionhidden="off"#}
         {#style="z-index: 6">#}
        {#Especializado en estilo con una gran variedad<br/>#}
        {#de las mejores <strong>ropas, calsado y bisutería</strong>.<br/>#}
        {#<a href="#">Leer más...</a>#}
    {#</div>#}

    <!-- LAYER NR. 6
    <div class="tp-caption large_bold_darkblue skewfromleftshort customout"
         data-x="80" data-hoffset="-90"
         data-y="350"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1600"
         data-easing="Back.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="off"
         style="z-index: 10">110+
    </div>
    -->
    <!-- LAYER NR. 7
    <div class="tp-caption medium_bg_darkblue skewfromleftshort customout"
         data-x="80" data-hoffset="-90"
         data-y="410"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1650"
         data-easing="Back.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="off"
         style="z-index: 11">Html Pages
    </div>

    <div class="tp-caption medium_bold_orange skewfromleftshort customout start font300"
         data-x="230" data-hoffset="-90"
         data-y="370"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1850"
         data-easing="Back.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="off"
         style="z-index: 13;">Fully <strong>Responsive</strong>
    </div>
    -->
    <!-- LAYER NR. 8
    <div class="tp-caption medium_bg_orange skewfromleftshort customout"
         data-x="230" data-hoffset="-90"
         data-y="410"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="2300"
         data-easing="Back.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="off"
         style="z-index: 21">Customizable Pages
    </div>
    -->
</li>