{% extends 'AppBundle::base_front.html.twig' %}

{% block header %}
    {% include 'AppBundle:includes:header_bar.html.twig' %}
{% endblock header %}

{% block body %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/validate_create_account.js') }}"></script>
    <!-- WRAPPER -->
    <div id="wrapper">

        <div id="shop">

            <!-- PAGE TITLE -->
            <header id="page-title">
                <div class="container">
                    <h1>Crear cuenta</h1>

                    <ul class="breadcrumb">
                        {{ wo_render_breadcrumbs() }}
                    </ul>
                </div>
            </header>


            <section class="container">

                <div class="row">

                    <!-- REGISTER -->
                    <div class="col-md-6">

                        <h2><strong>Crear</strong> cuenta</h2>

                        <form class="white-row" name="form" method="post" action="{{ url('_r2') }}">

                            <!-- alert failed -->
                            {% if error is defined %}
                                <div class="alert alert-danger">
                                    <i class="fa fa-frown-o"></i>
                                    {{ error | raw }}
                                </div>
                            {% endif %}
                            <!-- alert required -->
                            <div class="alert alert-warning">
                                <i class="fa fa-warning"></i>
                                <strong>Todos</strong> los campos son obligatorios.
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="hidden required" for="_name">Nombre</label>
                                        <input class="form-control" id="_name" name="_name" type="text" required
                                               placeholder="Nombre" title="Escriba su nombre"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="hidden required" for="_lastname">Apellidos</label>
                                        <input class="form-control" id="_lastname" name="_lastname" type="text" required
                                               placeholder="Apellidos" title="Escriba tus apellidos"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="hidden required" for="_day">Día</label>
                                        <input class="form-control" id="_day" name="_day" type="text" required
                                               placeholder="Día" title="Escriba un día válido"/>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="hidden required" for="_month">Mes</label>
                                        <select class="form-control" id="_month" name="_month">
                                            <option value="1">Enero</option>
                                            <option value="2">Febrero</option>
                                            <option value="3">Marzo</option>
                                            <option value="4">Abril</option>
                                            <option value="5">Mayo</option>
                                            <option value="6">Junio</option>
                                            <option value="7">Julio</option>
                                            <option value="8">Agosto</option>
                                            <option value="9">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="hidden required" for="_year">Año</label>
                                        <input class="form-control" id="_year" name="_year" type="text" required
                                               placeholder="Año" title="Escriba un año entre 1900 y el actual"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <input id="_sex" name="_sex" type="radio" value="0" />
                                        <label>Mujer</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input id="_sex" name="_sex" type="radio" value="1" />
                                        <label>Hombre</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="hidden required" for="_email">Correo electrónico</label>
                                        <input class="form-control" id="_email" name="_email" type="email" required
                                               placeholder="Correo electrónico"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="hidden required" for="_pass1">Contreseña</label>
                                        <input class="form-control" id="_pass1" name="_pass1" type="password" required
                                               placeholder="Contreseña"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="hidden required" for="_pass2">Repetir contreseña</label>
                                        <input class="form-control" id="_pass2" name="_pass2" type="password" required
                                               placeholder="Repetir contreseña"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="hidden required" for="_create">Crear cuenta</label>
                                    <button class="btn btn-primary pull-right push-bottom" id="_create" name="_create">
                                        Crear cuenta
                                    </button>
                                </div>
                            </div>

                        </form>

                    </div>
                    <!-- /REGISTER -->

                    <!-- WHY? -->
                    <div class="col-md-6">

                        <h2>¿<strong>Por qué</strong> crearse una cuenta?</h2>

                        <div class="white-row">

                            <h4>Crearse una cuenta es fácil, rápidos y gratis!</h4>

                            <p>Una vez registrado, puedes:</p>
                            <ul class="list-icon check">
                                <li>Personalizar tu perfil.</li>
                                <li>Buscar a otras personas.</li>
                                <li>Invitarlas a ser tus amigos.</li>
                                <li>Enviarles mensajes.</li>
                                <li>Hacer publicaciones.</li>
                                <li>Comentar las publicaciones de tus amigos.</li>
                                <li>Comentar un producto y sugerirlo a un amigo.</li>
                            </ul>

                            <hr class="half-margins"/>

                            <p>
                                ¿Ya tienes una cuenta?
                                <a href="{{ url('_login') }}">Has click aquí para iniciar tu sesión</a>
                            </p>
                        </div>

                        <div class="white-row">
                            <h4>Atención al cliente</h4>

                            <p>
                                Si estás buscando ayuda o tienes alguna pregunta, por favor <a
                                        href="#">contáctanos</a>.
                            </p>
                        </div>

                    </div>
                    <!-- /WHY? -->

                </div>

            </section>

        </div>
    </div>
    <!-- /WRAPPER -->

{% endblock body %}

{% block footer %}
    {% include 'AppBundle:includes:footer_bar.html.twig' %}
{% endblock footer %}